*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

.card {
  max-width: 450px;
  border-radius: 30px;
  font-weight: 900;
  margin: 0 10rem;
  overflow: hidden;
  box-shadow: 0 0 10px 20px #dedcdc;
  transform: rotate(-10deg);
  transition: 0.5s;
}

.card-content p {
  margin: 0;
}

.card:hover {
  transform: rotate(0);
}

.card-footer {
  display: flex;
  align-items: center;
  background: rgb(92, 191, 187);
  background: linear-gradient(
    90deg,
    rgba(92, 191, 187, 1) 0%,
    rgba(116, 214, 144, 1) 100%
  );

  color: #fff;
  font-weight: bold;
}

.card-content,
.card-footer {
  padding: 2rem;
}

.thumb {
  border-radius: 100%;
  border: 2px solid #fff;
  width: 60px;
  height: 60px;
  margin-right: 2rem;
  transition: transform 0.3s;
}

.card:hover .thumb {
  transform: scale(1.15);
}

/* On mobile, we have less space so we need to use a smaller value for horizontal padding. 
On tablets and wider screens, I've increased the horizontal padding. */

@media screen and (min-width: 768px) {
  .card-content{
    padding: 4rem;
  }
  .card-footer {
    padding: 2rem 4rem;
  }
}
